{% extends 'base.html' %}
{% block content %}
<div class="home">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  <ul class="post-list" id="listingTable">
    {% for post in articles %}
      {% set lang = post.lang or DEFAULT_LANG %}
      {% set category_name = post.category.name if post.category else '' %}
      {% if lang.startswith('ar') and category_name != 'دورة-تعلم-البرمجة-بلغة-بايثون' %}
      <li>
        <span class="post-meta">{{ post.date|strftime('%b %-d, %Y') }}</span>
        <h3>
          <a class="post-link" href="{{ (SITEURL.rstrip('/') ~ '/' ~ post.url.lstrip('/')) if SITEURL else '/' ~ post.url }}">{{ post.title }}</a>
        </h3>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p id="page-nav">
    <a href="javascript:prevPage()" id="btn_prev">→</a>
    الصفحة: <span id="page"></span>
    <a href="javascript:nextPage()" id="btn_next">←</a>
  </p>
  <p class="rss-subscribe">subscribe <a href="{{ absolute_url('feed.xml') }}">via RSS</a></p>
</div>
<script>
  var current_page = 1;
  var records_per_page = 19;
  var objJson;
  function prevPage() {
      if (current_page > 1) {
          current_page--;
          changePage(current_page);
      }
  }
  function nextPage() {
      if (current_page < numPages()) {
          current_page++;
          changePage(current_page);
      }
  }
  function changePage(page) {
      var btn_next = document.getElementById("btn_next");
      var btn_prev = document.getElementById("btn_prev");
      var listing_table = document.getElementById("listingTable");
      var page_span = document.getElementById("page");
      if (page < 1) page = 1;
      if (page > numPages()) page = numPages();
      listing_table.innerHTML = "";
      for (var i = (page - 1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
          listing_table.innerHTML += objJson[i].innerHTML;
      }
      page_span.innerHTML = page + " من " + numPages();
      btn_prev.style.display = (page === 1) ? "none" : "initial";
      btn_next.style.display = (page === numPages()) ? "none" : "initial";
  }
  function numPages() {
      return Math.ceil(objJson.length / records_per_page);
  }
  window.addEventListener('DOMContentLoaded', function () {
      objJson = document.getElementById("listingTable").cloneNode(true).children;
      changePage(1);
  });
</script>
{% endblock %}
