--- --- *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background: #FFFAE4;
  background: #f8f8f8;
}

p {
  margin: 0;
}

#container {
  padding: 36px 24px;
}

#name-h {
  color: #334D5C;
  color: #333333;
  color: #fff;
  font-size: 25px;
  margin-bottom: 24px;
  line-height: 1.7;
  font-family: "Merriweather", serif;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 1px;
}

#name-h p:after {
  content: " *";
  display: inline-block;
  font-size: 16px;
  white-space: pre-wrap;
  color: #FF6600;
  text-shadow: 2px 0 0px #EFC94C;
}

#links {
  margin-bottom: 40px;
}

.link {
  font-size: 18px;
  font-family: "Merriweather", serif;
  color: #F9C40A;
  color: #666699;
  color: #dc4e24;
  font-weight: 400;
}

/* .link:not(:first-child):not(:last-child) {
  margin: 32px 0; } */
.link {
  margin-bottom: 48px;
}

/* .link:first-child {
  margin-top: 0;
} */
.link:last-child {
  margin-bottom: 0;
}

.link a {
  text-decoration: none;
  position: relative;
}

.link a:after {
  content: "";
  position: absolute;
  left: -3%;
  bottom: -15%;
  width: 107%;
  height: 10%;
  background-color: #EB5432;
  background: #EFC94C;
  z-index: -1;
}

.link a:visited {
  color: inherit;
}

#external-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.ext-link {
  display: inline-block;
  margin-right: 20px;
}

.ext-link img {
  width: 25px;
}

#name-h *::-moz-selection {
  background: #ffa600;
  color: #003f5c;
}

#name-h *::selection {
  background: #ffa600;
  color: #003f5c;
}

.color-divs {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  z-index: -2;
  -webkit-perspective: 1000;
  perspective: 1000;
  overflow: hidden;
}

.color-d {
  width: 100%;
  height: 1px;
  z-index: 999;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateX(-1110px);
    transform: translateX(-1110px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes drop {
  0% {
    -webkit-transform: translateX(-1110px);
    transform: translateX(-1110px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.color-d:nth-child(1) {
  background: #392834;
}

.color-d:nth-child(2) {
  background: #69293B;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.color-d:nth-child(3) {
  background: #881928;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.color-d:nth-child(4) {
  background: #BC6B06;
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

.color-d:nth-child(5) {
  background: #EDAB06;
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.color-d:nth-child(6) {
  background: #F26C1A;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

.color-d:nth-child(7) {
  background: #002D40;
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

.color-d:nth-child(8) {
  background: #998A2F;
  -webkit-animation-delay: 2100ms;
  animation-delay: 2100ms;
}

.color-d:nth-child(9) {
  background: #FFA644;
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}

.color-d:nth-child(10) {
  background: #CD3313;
  -webkit-animation-delay: 2700ms;
  animation-delay: 2700ms;
}

.color-d:nth-child(11) {
  background: #593A1E;
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.color-d:nth-child(12) {
  background: #F5E5C0;
  -webkit-animation-delay: 3300ms;
  animation-delay: 3300ms;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html, body {
  min-height: 100%;
}

body {
  height: 100vh;
}

body {
  background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#solar-cont {
  width: 900px;
  height: 300px;
  transform: scale(0.6);
  position: absolute;
  right: 6%;
  bottom: 10%;
  display: none;
}

@media screen and (min-height: 500px) {
  .color-d {
    height: 10px;
  }
}
@media screen and (min-height: 900px) {
  .color-d {
    height: 10px;
  }
}
@media screen and (min-width: 360px) {
  #name-h {
    margin-bottom: 30px;
    font-size: 32px;
  }
  #links {
    margin-bottom: 51px;
  }
  .link {
    font-size: 23px;
  }
}
@media screen and (min-width: 400px) {
  #name-h {
    margin-bottom: 35px;
    font-size: 38px;
  }
  #links {
    margin-bottom: 60px;
  }
  .link {
    font-size: 27px;
  }
  .ext-link {
    margin-right: 30px;
  }
  .ext-link img {
    width: 30px;
  }
}
@media screen and (min-width: 512px) {
  #container {
    padding: 48px;
  }
  #name-h {
    margin-bottom: 40px;
    font-size: 48px;
  }
  .link {
    font-size: 34px;
  }
  #links {
    margin-bottom: 68px;
  }
  .ext-link {
    margin-right: 40px;
  }
  .ext-link img {
    width: 35px;
  }
}
@media screen and (min-width: 740px) {
  #name-h {
    margin-bottom: 50px;
    font-size: 64px;
  }
  .link {
    font-size: 45px;
  }
  #links {
    margin-bottom: 85px;
  }
  .link:not(:first-child):not(:last-child) {
    margin: 54px 0;
  }
  .ext-link {
    margin-right: 50px;
  }
  .ext-link img {
    width: 40px;
  }
}
@media screen and (min-width: 1000px) and (min-height: 1100px) {
  #name-h {
    margin-bottom: 60px;
    font-size: 78px;
  }
  .link {
    font-size: 56px;
  }
  #links {
    margin-bottom: 102px;
  }
  .link:not(:first-child):not(:last-child) {
    margin: 80px 0;
  }
  .ext-link {
    margin-right: 70px;
  }
  .ext-link img {
    width: 50px;
  }
}
@media screen and (min-width: 1100px) {
  body {
    width: 100%;
    height: 100%;
    /* box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset; */
    z-index: 1;
    /* filter: url(#wavy2); */
  }
  .color-divs {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    z-index: -2;
  }
  .color-d {
    width: 20px;
    height: auto;
    -webkit-animation-name: drop2;
    animation-name: drop2;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (min-width: 1200px) {
  .color-d {
    width: 20px;
  }
  #container {
    padding: 96px 128px;
  }
  #solar-cont {
    display: block;
  }
  /* .color-d:nth-child(1) {
    width: 50px;
  }
  .color-d:nth-child(2) {
    width: 30.9px;
  }
  .color-d:nth-child(3) {
    width: 19.09px;
  }
  .color-d:nth-child(4) {
    width: 11.8px;
  }
  .color-d:nth-child(5) {
    width: 7.29px;
  } */
}
#container:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 717px 372px 0 0px rgba(255, 255, 255, 0.244) , 1582px 653px 0 0px rgba(255,255,255, 0.055) , 1736px 1083px 0 0px rgba(255,255,255, 0.337) , 1436px 196px 0 0px rgba(255,255,255, 0.863) , 90px 935px 0 0px rgba(255,255,255, 0.989) , 1151px 76px 0 0px rgba(255,255,255, 0.492) , 624px 1435px 0 0px rgba(255,255,255, 0.395) , 1671px 533px 0 0px rgba(255,255,255, 0.791) , 1217px 944px 0 0px rgba(255,255,255, 0.671) , 894px 1429px 0 0px rgba(255,255,255, 0.657) , 409px 71px 0 0px rgba(255,255,255, 0.179) , 546px 879px 0 0px rgba(255,255,255, 0.689) , 815px 651px 0 0px rgba(255,255,255, 0.252) , 1511px 1038px 0 0px rgba(255,255,255, 0.592) , 523px 462px 0 0px rgba(255,255,255, 0.658) , 913px 4px 0 0px rgba(255,255,255, 0.029) , 196px 1792px 0 0px rgba(255,255,255, 0.978) , 1197px 215px 0 0px rgba(255,255,255, 0.21) , 153px 1692px 0 0px rgba(255,255,255, 0.717) , 1722px 1452px 0 0px rgba(255,255,255, 0.172) , 1518px 548px 0 0px rgba(255,255,255, 0.028) , 832px 1656px 0 0px rgba(255,255,255, 0.482) , 586px 972px 0 0px rgba(255,255,255, 0.155) , 1435px 1310px 0 0px rgba(255,255,255, 0.024) , 1163px 173px 0 0px rgba(255,255,255, 0.386) , 1569px 1714px 0 0px rgba(255,255,255, 0.569) , 1591px 1393px 0 0px rgba(255,255,255, 0.013) , 1498px 374px 0 0px rgba(255,255,255, 0.432) , 1799px 621px 0 0px rgba(255,255,255, 0.307) , 958px 848px 0 0px rgba(255,255,255, 0.076) , 610px 1066px 0 0px rgba(255,255,255, 0.674) , 594px 1272px 0 0px rgba(255,255,255, 0.423) , 1389px 1293px 0 0px rgba(255,255,255, 0.583) , 1718px 720px 0 0px rgba(255,255,255, 0.776) , 1655px 564px 0 0px rgba(255,255,255, 0.188) , 1435px 673px 0 0px rgba(255,255,255, 0.864) , 1731px 1355px 0 0px rgba(255,255,255, 0.318) , 823px 1277px 0 0px rgba(255,255,255, 0.439) , 198px 1739px 0 0px rgba(255,255,255, 0.249) , 1229px 1473px 0 0px rgba(255,255,255, 0.741) , 96px 520px 0 0px rgba(255,255,255, 0.6) , 1756px 595px 0 0px rgba(255,255,255, 0.716) , 1297px 124px 0 0px rgba(255,255,255, 0.954) , 338px 174px 0 0px rgba(255,255,255, 0.078) , 622px 798px 0 0px rgba(255,255,255, 0.473) , 1458px 350px 0 0px rgba(255,255,255, 0.152) , 1176px 760px 0 0px rgba(255,255,255, 0.668) , 786px 688px 0 0px rgba(255,255,255, 0.196) , 325px 500px 0 0px rgba(255,255,255, 0.031) , 522px 1686px 0 0px rgba(255,255,255, 0.626) , 189px 1773px 0 0px rgba(255,255,255, 0.712) , 769px 1147px 0 0px rgba(255,255,255, 0.304) , 452px 1648px 0 0px rgba(255,255,255, 0.423) , 328px 418px 0 0px rgba(255,255,255, 0.229) , 1448px 609px 0 0px rgba(255,255,255, 0.582) , 323px 255px 0 0px rgba(255,255,255, 0.971) , 525px 1251px 0 0px rgba(255,255,255, 0.803) , 1665px 1157px 0 0px rgba(255,255,255, 0.732) , 1546px 1262px 0 0px rgba(255,255,255, 0.336) , 252px 335px 0 0px rgba(255,255,255, 0.473) , 327px 272px 0 0px rgba(255,255,255, 0.604) , 438px 1636px 0 0px rgba(255,255,255, 0.583) , 1488px 647px 0 0px rgba(255,255,255, 0.01) , 641px 1694px 0 0px rgba(255,255,255, 0.372) , 883px 1624px 0 0px rgba(255,255,255, 0.893) , 1514px 1024px 0 0px rgba(255,255,255, 0.892) , 835px 849px 0 0px rgba(255,255,255, 0.871) , 90px 1736px 0 0px rgba(255,255,255, 0.557) , 544px 22px 0 0px rgba(255,255,255, 0.927) , 224px 95px 0 0px rgba(255,255,255, 0.147) , 568px 685px 0 0px rgba(255,255,255, 0.43) , 1621px 869px 0 0px rgba(255,255,255, 0.736) , 290px 1362px 0 0px rgba(255,255,255, 0.844) , 881px 333px 0 0px rgba(255,255,255, 0.536) , 1131px 142px 0 0px rgba(255,255,255, 0.878) , 120px 1142px 0 0px rgba(255,255,255, 0.935) , 1580px 794px 0 0px rgba(255,255,255, 0.364) , 159px 169px 0 0px rgba(255,255,255, 0.679) , 477px 1800px 0 0px rgba(255,255,255, 0.854) , 1050px 1324px 0 0px rgba(255,255,255, 0.849) , 1045px 1411px 0 0px rgba(255,255,255, 0.922) , 739px 1740px 0 0px rgba(255,255,255, 0.437) , 1516px 1669px 0 0px rgba(255,255,255, 0.127) , 1619px 1365px 0 0px rgba(255,255,255, 0.818) , 1234px 1451px 0 0px rgba(255,255,255, 0.433) , 725px 1432px 0 0px rgba(255,255,255, 0.973) , 39px 1396px 0 0px rgba(255,255,255, 0.882) , 1368px 1407px 0 0px rgba(255,255,255, 0.766) , 1240px 1237px 0 0px rgba(255,255,255, 0.48) , 1776px 647px 0 0px rgba(255,255,255, 0.738) , 81px 1245px 0 0px rgba(255,255,255, 0.26) , 458px 795px 0 0px rgba(255,255,255, 0.299) , 332px 499px 0 0px rgba(255,255,255, 0.463) , 929px 138px 0 0px rgba(255,255,255, 0.455) , 250px 587px 0 0px rgba(255,255,255, 0.146) , 1356px 1462px 0 0px rgba(255,255,255, 0.135) , 567px 1569px 0 0px rgba(255,255,255, 0.471) , 1573px 1744px 0 0px rgba(255,255,255, 0.139) , 1483px 42px 0 0px rgba(255,255,255, 0.326) , 736px 443px 0 0px rgba(255,255,255, 0.492) , 220px 451px 0 0px rgba(255,255,255, 0.866) , 1755px 920px 0 0px rgba(255,255,255, 0.599) , 1251px 761px 0 0px rgba(255,255,255, 0.8) , 193px 1765px 0 0px rgba(255,255,255, 0.85) , 487px 669px 0 0px rgba(255,255,255, 0.451) , 725px 546px 0 0px rgba(255,255,255, 0.999) , 1400px 1216px 0 0px rgba(255,255,255, 0.689) , 221px 1179px 0 0px rgba(255,255,255, 0.681) , 1541px 1733px 0 0px rgba(255,255,255, 0.303) , 1px 576px 0 0px rgba(255,255,255, 0.566) , 66px 949px 0 0px rgba(255,255,255, 0.59) , 1469px 1663px 0 0px rgba(255,255,255, 0.77) , 109px 1675px 0 0px rgba(255,255,255, 0.855) , 1285px 1301px 0 0px rgba(255,255,255, 0.603) , 910px 415px 0 0px rgba(255,255,255, 0.647) , 1144px 1471px 0 0px rgba(255,255,255, 0.768) , 279px 1202px 0 0px rgba(255,255,255, 0.469) , 1233px 445px 0 0px rgba(255,255,255, 0.608) , 1023px 133px 0 0px rgba(255,255,255, 0.603) , 624px 112px 0 0px rgba(255,255,255, 0.665) , 123px 519px 0 0px rgba(255,255,255, 0.644) , 1253px 1033px 0 0px rgba(255,255,255, 0.46) , 1277px 1699px 0 0px rgba(255,255,255, 0.507) , 313px 973px 0 0px rgba(255,255,255, 0.818) , 1024px 335px 0 0px rgba(255,255,255, 0.653) , 187px 1481px 0 0px rgba(255,255,255, 0.939) , 1149px 696px 0 0px rgba(255,255,255, 0.694) , 1253px 1467px 0 0px rgba(255,255,255, 0.638) , 1222px 259px 0 0px rgba(255,255,255, 0.552) , 1510px 200px 0 0px rgba(255,255,255, 0.941) , 869px 1623px 0 0px rgba(255,255,255, 0.945) , 264px 1324px 0 0px rgba(255,255,255, 0.337) , 382px 1744px 0 0px rgba(255,255,255, 0.98) , 1539px 1191px 0 0px rgba(255,255,255, 0.3) , 352px 1573px 0 0px rgba(255,255,255, 0.588) , 159px 429px 0 0px rgba(255,255,255, 0.801) , 1090px 1693px 0 0px rgba(255,255,255, 0.135) , 1443px 409px 0 0px rgba(255,255,255, 0.568) , 207px 60px 0 0px rgba(255,255,255, 0.77) , 1130px 189px 0 0px rgba(255,255,255, 0.276) , 808px 144px 0 0px rgba(255,255,255, 0.482) , 1432px 1114px 0 0px rgba(255,255,255, 0.74) , 1228px 375px 0 0px rgba(255,255,255, 0.298) , 1699px 943px 0 0px rgba(255,255,255, 0.758) , 83px 1658px 0 0px rgba(255,255,255, 0.574) , 1402px 527px 0 0px rgba(255,255,255, 0.14) , 246px 1192px 0 0px rgba(255,255,255, 0.822) , 337px 828px 0 0px rgba(255,255,255, 0.313) , 623px 1577px 0 0px rgba(255,255,255, 0.052) , 231px 1010px 0 0px rgba(255,255,255, 0.207) , 343px 224px 0 0px rgba(255,255,255, 0.215) , 1043px 1644px 0 0px rgba(255,255,255, 0.885) , 370px 1616px 0 0px rgba(255,255,255, 0.025) , 1049px 1683px 0 0px rgba(255,255,255, 0.559) , 1089px 1539px 0 0px rgba(255,255,255, 0.559) , 841px 385px 0 0px rgba(255,255,255, 0.586) , 570px 1319px 0 0px rgba(255,255,255, 0.972) , 1022px 182px 0 0px rgba(255,255,255, 0.253) , 194px 1342px 0 0px rgba(255,255,255, 0.076) , 483px 421px 0 0px rgba(255,255,255, 0.966) , 1799px 562px 0 0px rgba(255,255,255, 0.34) , 1513px 1441px 0 0px rgba(255,255,255, 0.462) , 754px 180px 0 0px rgba(255,255,255, 0.843) , 996px 1178px 0 0px rgba(255,255,255, 0.28) , 1356px 543px 0 0px rgba(255,255,255, 0.154) , 1235px 306px 0 0px rgba(255,255,255, 0.417) , 1564px 978px 0 0px rgba(255,255,255, 0.4) , 53px 1679px 0 0px rgba(255,255,255, 0.029) , 1418px 1790px 0 0px rgba(255,255,255, 0.671) , 91px 675px 0 0px rgba(255,255,255, 0.822) , 1763px 1659px 0 0px rgba(255,255,255, 0.001) , 611px 141px 0 0px rgba(255,255,255, 0.129) , 375px 1744px 0 0px rgba(255,255,255, 0.653) , 566px 497px 0 0px rgba(255,255,255, 0.493) , 1732px 1073px 0 0px rgba(255,255,255, 0.993) , 747px 216px 0 0px rgba(255,255,255, 0.929) , 1217px 254px 0 0px rgba(255,255,255, 0.84) , 1424px 960px 0 0px rgba(255,255,255, 0.053) , 1139px 180px 0 0px rgba(255,255,255, 0.408) , 91px 524px 0 0px rgba(255,255,255, 0.449) , 891px 320px 0 0px rgba(255,255,255, 0.741) , 168px 879px 0 0px rgba(255,255,255, 0.435) , 1310px 1702px 0 0px rgba(255,255,255, 0.482) , 1014px 815px 0 0px rgba(255,255,255, 0.904) , 1427px 1520px 0 0px rgba(255,255,255, 0.371) , 1596px 1558px 0 0px rgba(255,255,255, 0.387) , 1217px 364px 0 0px rgba(255,255,255, 0.981) , 1652px 606px 0 0px rgba(255,255,255, 0.01) , 8px 26px 0 0px rgba(255,255,255, 0.301) , 1786px 971px 0 0px rgba(255,255,255, 0.148) , 344px 444px 0 0px rgba(255,255,255, 0.074) , 1221px 739px 0 0px rgba(255,255,255, 0.766) , 622px 1358px 0 0px rgba(255,255,255, 0.739) , 1766px 1455px 0 0px rgba(255,255,255, 0.938) , 1750px 1557px 0 0px rgba(255,255,255, 0.629) , 38px 1344px 0 0px rgba(255,255,255, 0.673) , 230px 168px 0 0px rgba(255,255,255, 0.812) , 1781px 1230px 0 0px rgba(255,255,255, 0.044) , 60px 1781px 0 0px rgba(255,255,255, 0.104) , 1623px 633px 0 0px rgba(255,255,255, 0.669) , 475px 1748px 0 0px rgba(255,255,255, 0.58) , 1429px 1314px 0 0px rgba(255,255,255, 0.318) , 1395px 1792px 0 0px rgba(255,255,255, 0.262) , 100px 1207px 0 0px rgba(255,255,255, 0.139) , 472px 1458px 0 0px rgba(255,255,255, 0.26) , 1515px 1177px 0 0px rgba(255,255,255, 0.448) , 237px 924px 0 0px rgba(255,255,255, 0.647) , 646px 1754px 0 0px rgba(255,255,255, 0.733) , 1317px 1212px 0 0px rgba(255,255,255, 0.518) , 1518px 379px 0 0px rgba(255,255,255, 0.657) , 215px 1298px 0 0px rgba(255,255,255, 0.32) , 906px 519px 0 0px rgba(255,255,255, 0.534) , 1483px 1210px 0 0px rgba(255,255,255, 0.436) , 220px 502px 0 0px rgba(255,255,255, 0.585) , 1016px 305px 0 0px rgba(255,255,255, 0.068) , 1448px 976px 0 0px rgba(255,255,255, 0.672) , 73px 62px 0 0px rgba(255,255,255, 0.864) , 351px 869px 0 0px rgba(255,255,255, 0.613) , 1303px 676px 0 0px rgba(255,255,255, 0.069) , 1001px 1535px 0 0px rgba(255,255,255, 0.174) , 838px 1738px 0 0px rgba(255,255,255, 0.656) , 1267px 1355px 0 0px rgba(255,255,255, 0.419) , 263px 1766px 0 0px rgba(255,255,255, 0.877) , 449px 604px 0 0px rgba(255,255,255, 0.491) , 956px 1013px 0 0px rgba(255,255,255, 0.849) , 807px 784px 0 0px rgba(255,255,255, 0.273) , 523px 109px 0 0px rgba(255,255,255, 0.788) , 464px 607px 0 0px rgba(255,255,255, 0.195) , 200px 87px 0 0px rgba(255,255,255, 0.514) , 1781px 889px 0 0px rgba(255,255,255, 0.7) , 293px 217px 0 0px rgba(255,255,255, 0.619) , 108px 689px 0 0px rgba(255,255,255, 0.516) , 1548px 204px 0 0px rgba(255,255,255, 0.401) , 547px 642px 0 0px rgba(255,255,255, 0.353) , 762px 1631px 0 0px rgba(255,255,255, 0.555) , 972px 1780px 0 0px rgba(255,255,255, 0.452) , 1689px 169px 0 0px rgba(255,255,255, 0.076) , 275px 465px 0 0px rgba(255,255,255, 0.827) , 1666px 1444px 0 0px rgba(255,255,255, 0.699) , 1135px 171px 0 0px rgba(255,255,255, 0.291) , 660px 1296px 0 0px rgba(255,255,255, 0.627) , 831px 724px 0 0px rgba(255,255,255, 0.936) , 1639px 51px 0 0px rgba(255,255,255, 0.631) , 403px 328px 0 0px rgba(255,255,255, 0.56) , 1499px 1643px 0 0px rgba(255,255,255, 0.512) , 166px 991px 0 0px rgba(255,255,255, 0.045) , 1014px 367px 0 0px rgba(255,255,255, 0.051) , 286px 1464px 0 0px rgba(255,255,255, 0.246) , 1469px 343px 0 0px rgba(255,255,255, 0.126) , 72px 364px 0 0px rgba(255,255,255, 0.942) , 306px 367px 0 0px rgba(255,255,255, 0.716) , 667px 1517px 0 0px rgba(255,255,255, 0.341) , 496px 47px 0 0px rgba(255,255,255, 0.874) , 953px 979px 0 0px rgba(255,255,255, 0.35) , 71px 1146px 0 0px rgba(255,255,255, 0.277) , 1008px 1410px 0 0px rgba(255,255,255, 0.22) , 1254px 97px 0 0px rgba(255,255,255, 0.342) , 1388px 810px 0 0px rgba(255,255,255, 0.515) , 1466px 933px 0 0px rgba(255,255,255, 0.622) , 1317px 73px 0 0px rgba(255,255,255, 0.155) , 1387px 1082px 0 0px rgba(255,255,255, 0.124) , 501px 34px 0 0px rgba(255,255,255, 0.4) , 813px 302px 0 0px rgba(255,255,255, 0.365) , 1204px 478px 0 0px rgba(255,255,255, 0.307) , 575px 158px 0 0px rgba(255,255,255, 0.306) , 929px 730px 0 0px rgba(255,255,255, 0.77) , 1686px 700px 0 0px rgba(255,255,255, 0.035) , 377px 634px 0 0px rgba(255,255,255, 0.11) , 1245px 1607px 0 0px rgba(255,255,255, 0.523) , 426px 797px 0 0px rgba(255,255,255, 0.146) , 154px 708px 0 0px rgba(255,255,255, 0.445) , 804px 142px 0 0px rgba(255,255,255, 0.702) , 1127px 1496px 0 0px rgba(255,255,255, 0.742) , 842px 709px 0 0px rgba(255,255,255, 0.923) , 1445px 509px 0 0px rgba(255,255,255, 0.342) , 276px 980px 0 0px rgba(255,255,255, 0.837) , 1640px 899px 0 0px rgba(255,255,255, 0.537) , 240px 525px 0 0px rgba(255,255,255, 0.612) , 1069px 834px 0 0px rgba(255,255,255, 0.382) , 1325px 243px 0 0px rgba(255,255,255, 0.125) , 591px 291px 0 0px rgba(255,255,255, 0.122) , 883px 526px 0 0px rgba(255,255,255, 0.066) , 675px 642px 0 0px rgba(255,255,255, 0.91) , 1467px 104px 0 0px rgba(255,255,255, 0.763) , 1686px 145px 0 0px rgba(255,255,255, 0.333) , 1137px 875px 0 0px rgba(255,255,255, 0.37) , 1708px 193px 0 0px rgba(255,255,255, 0.396) , 401px 1706px 0 0px rgba(255,255,255, 0.361) , 182px 986px 0 0px rgba(255,255,255, 0.273) , 71px 1450px 0 0px rgba(255,255,255, 0.406) , 352px 626px 0 0px rgba(255,255,255, 0.068) , 1374px 1657px 0 0px rgba(255,255,255, 0.314) , 1565px 574px 0 0px rgba(255,255,255, 0.954) , 781px 254px 0 0px rgba(255,255,255, 0.573) , 1327px 692px 0 0px rgba(255,255,255, 0.638) , 470px 188px 0 0px rgba(255,255,255, 0.102) , 1400px 1702px 0 0px rgba(255,255,255, 0.645) , 1497px 250px 0 0px rgba(255,255,255, 0.299) , 917px 633px 0 0px rgba(255,255,255, 0.239) , 405px 1786px 0 0px rgba(255,255,255, 0.506) , 893px 966px 0 0px rgba(255,255,255, 0.903) , 460px 1553px 0 0px rgba(255,255,255, 0.93) , 760px 486px 0 0px rgba(255,255,255, 0.431) , 450px 1402px 0 0px rgba(255,255,255, 0.575) , 1634px 996px 0 0px rgba(255,255,255, 0.417) , 1081px 438px 0 0px rgba(255,255,255, 0.031) , 737px 607px 0 0px rgba(255,255,255, 0.173) , 7px 1448px 0 0px rgba(255,255,255, 0.069) , 209px 33px 0 0px rgba(255,255,255, 0.22) , 48px 1297px 0 0px rgba(255,255,255, 0.769) , 1535px 1513px 0 0px rgba(255,255,255, 0.686) , 186px 1475px 0 0px rgba(255,255,255, 0.959) , 923px 1799px 0 0px rgba(255,255,255, 0.786) , 532px 1336px 0 0px rgba(255,255,255, 0.622) , 41px 735px 0 0px rgba(255,255,255, 0.453) , 418px 1383px 0 0px rgba(255,255,255, 0.542) , 1242px 787px 0 0px rgba(255,255,255, 0.953) , 1539px 290px 0 0px rgba(255,255,255, 0.499) , 932px 1416px 0 0px rgba(255,255,255, 0.198) , 393px 737px 0 0px rgba(255,255,255, 0.144) , 838px 929px 0 0px rgba(255,255,255, 0.756) , 459px 278px 0 0px rgba(255,255,255, 0.142) , 606px 1530px 0 0px rgba(255,255,255, 0.618) , 1107px 160px 0 0px rgba(255,255,255, 0.245) , 1750px 534px 0 0px rgba(255,255,255, 0.941) , 1329px 1712px 0 0px rgba(255,255,255, 0.728) , 478px 864px 0 0px rgba(255,255,255, 0.238) , 1712px 1086px 0 0px rgba(255,255,255, 0.529) , 1800px 1306px 0 0px rgba(255,255,255, 0.732) , 79px 488px 0 0px rgba(255,255,255, 0.91) , 1162px 898px 0 0px rgba(255,255,255, 0.453) , 431px 606px 0 0px rgba(255,255,255, 0.189) , 1214px 1284px 0 0px rgba(255,255,255, 0.755) , 1193px 1434px 0 0px rgba(255,255,255, 0.638) , 1244px 125px 0 0px rgba(255,255,255, 0.244) , 1595px 63px 0 0px rgba(255,255,255, 0.497) , 1497px 411px 0 0px rgba(255,255,255, 0.948) , 1254px 626px 0 0px rgba(255,255,255, 0.029) , 755px 648px 0 0px rgba(255,255,255, 0.907) , 1272px 537px 0 0px rgba(255,255,255, 0.367) , 21px 990px 0 0px rgba(255,255,255, 0.919) , 129px 324px 0 0px rgba(255,255,255, 0.945) , 25px 774px 0 0px rgba(255,255,255, 0.535) , 857px 1173px 0 0px rgba(255,255,255, 0.447) , 391px 1445px 0 0px rgba(255,255,255, 0.718) , 815px 734px 0 0px rgba(255,255,255, 0.223) , 1387px 412px 0 0px rgba(255,255,255, 0.744) , 651px 26px 0 0px rgba(255,255,255, 0.614) , 1068px 960px 0 0px rgba(255,255,255, 0.716) , 373px 677px 0 0px rgba(255,255,255, 0.949) , 1060px 1433px 0 0px rgba(255,255,255, 0.583) , 680px 114px 0 0px rgba(255,255,255, 0.863) , 1248px 1674px 0 0px rgba(255,255,255, 0.497) , 1057px 524px 0 0px rgba(255,255,255, 0.979) , 744px 944px 0 0px rgba(255,255,255, 0.151) , 916px 261px 0 0px rgba(255,255,255, 0.27) , 102px 769px 0 0px rgba(255,255,255, 0.807) , 1690px 8px 0 0px rgba(255,255,255, 0.229) , 1589px 1330px 0 0px rgba(255,255,255, 0.017) , 1521px 1131px 0 0px rgba(255,255,255, 0.797) , 121px 1059px 0 0px rgba(255,255,255, 0.558) , 499px 906px 0 0px rgba(255,255,255, 0.504) , 827px 91px 0 0px rgba(255,255,255, 0.623) , 1459px 1374px 0 0px rgba(255,255,255, 0.395) , 566px 352px 0 0px rgba(255,255,255, 0.233) , 328px 399px 0 0px rgba(255,255,255, 0.547) , 827px 425px 0 0px rgba(255,255,255, 0.974) , 845px 1282px 0 0px rgba(255,255,255, 0.441) , 1097px 1339px 0 0px rgba(255,255,255, 0.676) , 1172px 761px 0 0px rgba(255,255,255, 0.438) , 742px 1595px 0 0px rgba(255,255,255, 0.156) , 799px 149px 0 0px rgba(255,255,255, 0.151) , 937px 1039px 0 0px rgba(255,255,255, 0.034) , 1767px 470px 0 0px rgba(255,255,255, 0.379) , 619px 328px 0 0px rgba(255,255,255, 0.625) , 770px 286px 0 0px rgba(255,255,255, 0.392) , 1072px 1009px 0 0px rgba(255,255,255, 0.346) , 1660px 1201px 0 0px rgba(255,255,255, 0.399) , 904px 1757px 0 0px rgba(255,255,255, 0.321) , 1333px 631px 0 0px rgba(255,255,255, 0.937) , 1319px 1143px 0 0px rgba(255,255,255, 0.606) , 776px 217px 0 0px rgba(255,255,255, 0.353) , 990px 981px 0 0px rgba(255,255,255, 0.07) , 114px 221px 0 0px rgba(255,255,255, 0.874) , 572px 407px 0 0px rgba(255,255,255, 0.172) , 129px 1717px 0 0px rgba(255,255,255, 0.831) , 976px 560px 0 0px rgba(255,255,255, 0.061) , 1770px 826px 0 0px rgba(255,255,255, 0.204) , 311px 1438px 0 0px rgba(255,255,255, 0.383) , 102px 1350px 0 0px rgba(255,255,255, 0.207) , 587px 1571px 0 0px rgba(255,255,255, 0.003) , 583px 329px 0 0px rgba(255,255,255, 0.085) , 526px 298px 0 0px rgba(255,255,255, 0.92) , 816px 144px 0 0px rgba(255,255,255, 0.303) , 1702px 1605px 0 0px rgba(255,255,255, 0.433) , 700px 1706px 0 0px rgba(255,255,255, 0.311) , 495px 1570px 0 0px rgba(255,255,255, 0.665) , 1608px 970px 0 0px rgba(255,255,255, 0.986) , 281px 474px 0 0px rgba(255,255,255, 0.552) , 988px 1224px 0 0px rgba(255,255,255, 0.131) , 1277px 71px 0 0px rgba(255,255,255, 0.342) , 1046px 26px 0 0px rgba(255,255,255, 0.549) , 461px 1351px 0 0px rgba(255,255,255, 0.184) , 650px 397px 0 0px rgba(255,255,255, 0.039) , 566px 1148px 0 0px rgba(255,255,255, 0.577) , 1277px 1735px 0 0px rgba(255,255,255, 0.846) , 1634px 960px 0 0px rgba(255,255,255, 0.589) , 54px 1718px 0 0px rgba(255,255,255, 0.776) , 336px 155px 0 0px rgba(255,255,255, 0.163) , 66px 462px 0 0px rgba(255,255,255, 0.219) , 362px 336px 0 0px rgba(255,255,255, 0.079) , 380px 130px 0 0px rgba(255,255,255, 0.407) , 1706px 1658px 0 0px rgba(255,255,255, 0.819) , 1593px 1297px 0 0px rgba(255,255,255, 0.491) , 346px 1736px 0 0px rgba(255,255,255, 0.396) , 843px 1763px 0 0px rgba(255,255,255, 0.461) , 587px 420px 0 0px rgba(255,255,255, 0.701) , 1391px 548px 0 0px rgba(255,255,255, 0.298) , 179px 649px 0 0px rgba(255,255,255, 0.759) , 1460px 79px 0 0px rgba(255,255,255, 0.138) , 190px 1627px 0 0px rgba(255,255,255, 0.726) , 956px 1223px 0 0px rgba(255,255,255, 0.912) , 457px 388px 0 0px rgba(255,255,255, 0.883) , 906px 1159px 0 0px rgba(255,255,255, 0.184) , 1183px 1045px 0 0px rgba(255,255,255, 0.117) , 705px 258px 0 0px rgba(255,255,255, 0.915) , 623px 344px 0 0px rgba(255,255,255, 0.43) , 1168px 1306px 0 0px rgba(255,255,255, 0.373) , 34px 963px 0 0px rgba(255,255,255, 0.682) , 801px 1082px 0 0px rgba(255,255,255, 0.471) , 1309px 1717px 0 0px rgba(255,255,255, 0.9) , 1201px 509px 0 0px rgba(255,255,255, 0.753) , 215px 1578px 0 0px rgba(255,255,255, 0.411) , 1407px 449px 0 0px rgba(255,255,255, 0.099) , 1771px 1147px 0 0px rgba(255,255,255, 0.746) , 329px 326px 0 0px rgba(255,255,255, 0.458) , 131px 283px 0 0px rgba(255,255,255, 0.515) , 1195px 1029px 0 0px rgba(255,255,255, 0.465) , 474px 1763px 0 0px rgba(255,255,255, 0.929) , 516px 1127px 0 0px rgba(255,255,255, 0.403) , 625px 504px 0 0px rgba(255,255,255, 0.51) , 410px 298px 0 0px rgba(255,255,255, 0.903) , 1195px 1092px 0 0px rgba(255,255,255, 0.27) , 1142px 1693px 0 0px rgba(255,255,255, 0.548) , 1054px 399px 0 0px rgba(255,255,255, 0.046) , 898px 299px 0 0px rgba(255,255,255, 0.753) , 1756px 221px 0 0px rgba(255,255,255, 0.918) , 1281px 1334px 0 0px rgba(255,255,255, 0.27) , 1775px 1521px 0 0px rgba(255,255,255, 0.154) , 1521px 588px 0 0px rgba(255,255,255, 0.023) , 601px 520px 0 0px rgba(255,255,255, 0.702) , 688px 282px 0 0px rgba(255,255,255, 0.922) , 1578px 1003px 0 0px rgba(255,255,255, 0.167) , 10px 1303px 0 0px rgba(255,255,255, 0.506) , 889px 1285px 0 0px rgba(255,255,255, 0.231) , 883px 1716px 0 0px rgba(255,255,255, 0.953) , 167px 625px 0 0px rgba(255,255,255, 0.7) , 424px 1220px 0 0px rgba(255,255,255, 0.702) , 1504px 695px 0 0px rgba(255,255,255, 0.18) , 125px 575px 0 0px rgba(255,255,255, 0.325) , 276px 1007px 0 0px rgba(255,255,255, 0.253) , 390px 141px 0 0px rgba(255,255,255, 0.475) , 880px 319px 0 0px rgba(255,255,255, 0.858) , 755px 200px 0 0px rgba(255,255,255, 0.975) , 774px 34px 0 0px rgba(255,255,255, 0.354) , 966px 259px 0 0px rgba(255,255,255, 0.771) , 769px 289px 0 0px rgba(255,255,255, 0.054) , 393px 830px 0 0px rgba(255,255,255, 0.489) , 1326px 1468px 0 0px rgba(255,255,255, 0.581) , 1657px 1773px 0 0px rgba(255,255,255, 0.5) , 486px 1429px 0 0px rgba(255,255,255, 0.615) , 156px 1469px 0 0px rgba(255,255,255, 0.034) , 304px 1668px 0 0px rgba(255,255,255, 0.437) , 160px 353px 0 0px rgba(255,255,255, 0.896) , 232px 1226px 0 0px rgba(255,255,255, 0.712) , 1116px 766px 0 0px rgba(255,255,255, 0.854) , 1207px 306px 0 0px rgba(255,255,255, 0.103) , 1684px 1481px 0 0px rgba(255,255,255, 0.419) , 1614px 244px 0 0px rgba(255,255,255, 0.489) , 1088px 278px 0 0px rgba(255,255,255, 0.088) , 379px 1430px 0 0px rgba(255,255,255, 0.513) , 701px 1721px 0 0px rgba(255,255,255, 0.238) , 482px 654px 0 0px rgba(255,255,255, 0.956) , 1362px 974px 0 0px rgba(255,255,255, 0.269) , 489px 1563px 0 0px rgba(255,255,255, 0.655) , 1762px 1344px 0 0px rgba(255,255,255, 0.091) , 1659px 1712px 0 0px rgba(255,255,255, 0.021) , 777px 1372px 0 0px rgba(255,255,255, 0.63) , 566px 530px 0 0px rgba(255,255,255, 0.608) , 566px 192px 0 0px rgba(255,255,255, 0.318) , 1393px 422px 0 0px rgba(255,255,255, 0.985) , 108px 1115px 0 0px rgba(255,255,255, 0.987) , 1799px 1294px 0 0px rgba(255,255,255, 0.336) , 777px 1388px 0 0px rgba(255,255,255, 0.782) , 1186px 149px 0 0px rgba(255,255,255, 0.614) , 387px 126px 0 0px rgba(255,255,255, 0.697) , 564px 1789px 0 0px rgba(255,255,255, 0.336) , 34px 11px 0 0px rgba(255,255,255, 0.488) , 825px 1126px 0 0px rgba(255,255,255, 0.396) , 105px 1769px 0 0px rgba(255,255,255, 0.863);
  border-radius: 100px;
}

#g-c {
  position: relative;
}

.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  animation: orb 2.2440352158s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 109px 0px 0 -104px rgba(255, 255, 255, 0.18) , 106px 114px 0 -104px rgba(255,255,255, 0.541) , -56px -41px 0 -104px rgba(255,255,255, 0.945) , -6px 71px 0 -104px rgba(255,255,255, 0.472) , 25px -133px 0 -104px rgba(255,255,255, 0.123) , -55px 70px 0 -104px rgba(255,255,255, 0.346) , -23px -110px 0 -104px rgba(255,255,255, 0.816) , -133px -131px 0 -104px rgba(255,255,255, 0.309) , -91px 35px 0 -104px rgba(255,255,255, 0.895) , 89px 128px 0 -104px rgba(255,255,255, 0.283) , 103px 42px 0 -104px rgba(255,255,255, 0.218) , -95px -22px 0 -104px rgba(255,255,255, 0.35) , 138px 61px 0 -104px rgba(255,255,255, 0.766) , 29px 93px 0 -104px rgba(255,255,255, 0.656) , -24px 16px 0 -104px rgba(255,255,255, 0.053) , -53px 69px 0 -104px rgba(255,255,255, 0.149) , -85px 5px 0 -104px rgba(255,255,255, 0.818) , 53px -63px 0 -104px rgba(255,255,255, 0.787) , -37px 83px 0 -104px rgba(255,255,255, 0.306) , 113px 80px 0 -104px rgba(255,255,255, 0.201) , -102px 80px 0 -104px rgba(255,255,255, 0.264) , 53px 4px 0 -104px rgba(255,255,255, 0.195) , 91px -134px 0 -104px rgba(255,255,255, 0.217) , -10px 70px 0 -104px rgba(255,255,255, 0.836) , 62px -119px 0 -104px rgba(255,255,255, 0.812) , -127px -139px 0 -104px rgba(255,255,255, 0.364) , 102px 44px 0 -104px rgba(255,255,255, 0.997) , 127px 142px 0 -104px rgba(255,255,255, 0.252) , -115px -22px 0 -104px rgba(255,255,255, 0.063) , 88px 123px 0 -104px rgba(255,255,255, 0.117) , -32px -109px 0 -104px rgba(255,255,255, 0.746) , -120px 59px 0 -104px rgba(255,255,255, 0.1) , 52px 135px 0 -104px rgba(255,255,255, 0.005) , 23px -102px 0 -104px rgba(255,255,255, 0.018) , -10px -91px 0 -104px rgba(255,255,255, 0.289) , 84px 97px 0 -104px rgba(255,255,255, 0.816) , 110px -118px 0 -104px rgba(255,255,255, 0.884) , 69px 112px 0 -104px rgba(255,255,255, 0.906) , -50px 0px 0 -104px rgba(255,255,255, 0.452) , 133px -70px 0 -104px rgba(255,255,255, 0.952) , 119px 11px 0 -104px rgba(255,255,255, 0.884) , -97px 78px 0 -104px rgba(255,255,255, 0.147) , 95px 56px 0 -104px rgba(255,255,255, 0.603) , 70px -136px 0 -104px rgba(255,255,255, 0.666) , -53px 19px 0 -104px rgba(255,255,255, 0.302) , 130px -112px 0 -104px rgba(255,255,255, 0.71) , -66px -43px 0 -104px rgba(255,255,255, 0.075) , 49px 2px 0 -104px rgba(255,255,255, 0.315) , 56px -100px 0 -104px rgba(255,255,255, 0.572) , 35px 125px 0 -104px rgba(255,255,255, 0.876) , -39px -21px 0 -104px rgba(255,255,255, 0.435) , -46px -87px 0 -104px rgba(255,255,255, 0.956) , 142px 132px 0 -104px rgba(255,255,255, 0.851) , 67px -26px 0 -104px rgba(255,255,255, 0.794) , 18px 135px 0 -104px rgba(255,255,255, 0.9) , 101px 42px 0 -104px rgba(255,255,255, 0.486) , 127px 119px 0 -104px rgba(255,255,255, 0.176) , 121px -21px 0 -104px rgba(255,255,255, 0.22) , 37px 100px 0 -104px rgba(255,255,255, 0.915) , 46px 42px 0 -104px rgba(255,255,255, 0.927) , -104px 83px 0 -104px rgba(255,255,255, 0.517) , 58px -98px 0 -104px rgba(255,255,255, 0.12) , 76px -96px 0 -104px rgba(255,255,255, 0.896) , 132px -90px 0 -104px rgba(255,255,255, 0.211) , 107px 67px 0 -104px rgba(255,255,255, 0.012) , 90px 94px 0 -104px rgba(255,255,255, 0.725) , 116px 23px 0 -104px rgba(255,255,255, 0.795) , -72px 67px 0 -104px rgba(255,255,255, 0.561) , -65px -70px 0 -104px rgba(255,255,255, 0.292) , -99px -113px 0 -104px rgba(255,255,255, 0.91) , 108px 84px 0 -104px rgba(255,255,255, 0.067) , 23px -53px 0 -104px rgba(255,255,255, 0.669) , 62px 126px 0 -104px rgba(255,255,255, 0.68) , 39px 104px 0 -104px rgba(255,255,255, 0.807) , -42px -127px 0 -104px rgba(255,255,255, 0.834) , 23px -126px 0 -104px rgba(255,255,255, 0.061) , -115px -125px 0 -104px rgba(255,255,255, 0.991) , 62px 100px 0 -104px rgba(255,255,255, 0.415) , 64px 114px 0 -104px rgba(255,255,255, 0.638) , -72px -83px 0 -104px rgba(255,255,255, 0.863) , 50px -72px 0 -104px rgba(255,255,255, 0.952) , -67px -45px 0 -104px rgba(255,255,255, 0.108) , 44px 25px 0 -104px rgba(255,255,255, 0.995) , 49px -58px 0 -104px rgba(255,255,255, 0.066) , 62px -76px 0 -104px rgba(255,255,255, 0.353) , -100px -71px 0 -104px rgba(255,255,255, 0.102) , 29px -78px 0 -104px rgba(255,255,255, 0.581) , -93px 92px 0 -104px rgba(255,255,255, 0.169) , -139px -102px 0 -104px rgba(255,255,255, 0.223) , -124px -102px 0 -104px rgba(255,255,255, 0.478) , -120px 24px 0 -104px rgba(255,255,255, 0.611) , -48px 110px 0 -104px rgba(255,255,255, 0.086) , -21px -27px 0 -104px rgba(255,255,255, 0.258) , -80px 12px 0 -104px rgba(255,255,255, 0.915) , -5px -37px 0 -104px rgba(255,255,255, 0.918) , -69px -66px 0 -104px rgba(255,255,255, 0.565) , -125px -37px 0 -104px rgba(255,255,255, 0.765) , -131px -35px 0 -104px rgba(255,255,255, 0.175) , -127px -128px 0 -104px rgba(255,255,255, 0.514) , -81px 130px 0 -104px rgba(255,255,255, 0.876) , 12px 11px 0 -104px rgba(255,255,255, 0.703) , 144px -53px 0 -104px rgba(255,255,255, 0.873) , -47px 22px 0 -104px rgba(255,255,255, 0.009) , -34px 97px 0 -104px rgba(255,255,255, 0.081) , 10px 19px 0 -104px rgba(255,255,255, 0.293) , 86px 92px 0 -104px rgba(255,255,255, 0.516) , 137px 114px 0 -104px rgba(255,255,255, 0.623) , -76px -99px 0 -104px rgba(255,255,255, 0.005) , -84px 106px 0 -104px rgba(255,255,255, 0.092) , -26px 133px 0 -104px rgba(255,255,255, 0.812) , -128px 80px 0 -104px rgba(255,255,255, 0.683) , -79px 61px 0 -104px rgba(255,255,255, 0.276) , 127px 115px 0 -104px rgba(255,255,255, 0.535) , -142px 90px 0 -104px rgba(255,255,255, 0.648) , 59px -135px 0 -104px rgba(255,255,255, 0.353) , -49px 29px 0 -104px rgba(255,255,255, 0.342) , 70px 137px 0 -104px rgba(255,255,255, 0.329) , -58px -11px 0 -104px rgba(255,255,255, 0.868) , -101px 87px 0 -104px rgba(255,255,255, 0.486) , -85px 129px 0 -104px rgba(255,255,255, 0.941) , 141px -30px 0 -104px rgba(255,255,255, 0.51) , 70px -119px 0 -104px rgba(255,255,255, 0.949) , 55px 106px 0 -104px rgba(255,255,255, 0.594) , -50px -83px 0 -104px rgba(255,255,255, 0.163) , 132px 1px 0 -104px rgba(255,255,255, 0.487) , 78px -24px 0 -104px rgba(255,255,255, 0.945) , -56px 44px 0 -104px rgba(255,255,255, 0.431) , -81px -44px 0 -104px rgba(255,255,255, 0.908) , -93px 53px 0 -104px rgba(255,255,255, 0.425) , 16px -122px 0 -104px rgba(255,255,255, 0.26) , -143px -95px 0 -104px rgba(255,255,255, 0.013) , -48px -5px 0 -104px rgba(255,255,255, 0.593) , -113px -70px 0 -104px rgba(255,255,255, 0.808) , 27px -118px 0 -104px rgba(255,255,255, 0.048) , 37px 144px 0 -104px rgba(255,255,255, 0.152) , 5px -47px 0 -104px rgba(255,255,255, 0.081) , 89px 8px 0 -104px rgba(255,255,255, 0.696) , -104px 87px 0 -104px rgba(255,255,255, 0.595) , 62px 121px 0 -104px rgba(255,255,255, 0.473) , 15px -20px 0 -104px rgba(255,255,255, 0.519) , -43px 46px 0 -104px rgba(255,255,255, 0.358) , 39px -28px 0 -104px rgba(255,255,255, 0.921) , 91px 34px 0 -104px rgba(255,255,255, 0.979) , 136px 59px 0 -104px rgba(255,255,255, 0.731) , 71px 26px 0 -104px rgba(255,255,255, 0.912) , 87px -72px 0 -104px rgba(255,255,255, 0.986) , 106px 3px 0 -104px rgba(255,255,255, 0.921) , 67px 138px 0 -104px rgba(255,255,255, 0.656) , -8px 14px 0 -104px rgba(255,255,255, 0.266) , 116px 43px 0 -104px rgba(255,255,255, 0.573) , -104px 4px 0 -104px rgba(255,255,255, 0.562) , -40px 47px 0 -104px rgba(255,255,255, 0.85) , -137px -103px 0 -104px rgba(255,255,255, 0.23) , -15px 84px 0 -104px rgba(255,255,255, 0.251) , -95px 27px 0 -104px rgba(255,255,255, 0.552) , 84px -41px 0 -104px rgba(255,255,255, 0.84) , 9px -39px 0 -104px rgba(255,255,255, 0.976) , 92px -138px 0 -104px rgba(255,255,255, 0.255) , -113px -68px 0 -104px rgba(255,255,255, 0.633) , -22px -43px 0 -104px rgba(255,255,255, 0.891) , -125px -23px 0 -104px rgba(255,255,255, 0.167) , 64px 53px 0 -104px rgba(255,255,255, 0.635) , -127px 112px 0 -104px rgba(255,255,255, 0.627) , -131px -114px 0 -104px rgba(255,255,255, 0.443) , 77px 88px 0 -104px rgba(255,255,255, 0.239) , 89px 64px 0 -104px rgba(255,255,255, 0.221) , -63px 22px 0 -104px rgba(255,255,255, 0.017) , 31px 99px 0 -104px rgba(255,255,255, 0.125) , 115px 142px 0 -104px rgba(255,255,255, 0.945) , -7px -100px 0 -104px rgba(255,255,255, 0.104) , -22px 65px 0 -104px rgba(255,255,255, 0.454) , -31px 25px 0 -104px rgba(255,255,255, 0.056) , -129px 143px 0 -104px rgba(255,255,255, 0.227) , 74px -78px 0 -104px rgba(255,255,255, 0.863) , -124px 50px 0 -104px rgba(255,255,255, 0.713) , 96px -100px 0 -104px rgba(255,255,255, 0.881) , 76px 98px 0 -104px rgba(255,255,255, 0.08) , -118px 91px 0 -104px rgba(255,255,255, 0.059) , 53px 126px 0 -104px rgba(255,255,255, 0.976) , 66px 145px 0 -104px rgba(255,255,255, 0.898) , -98px 61px 0 -104px rgba(255,255,255, 0.385) , -128px 87px 0 -104px rgba(255,255,255, 0.247) , 116px 26px 0 -104px rgba(255,255,255, 0.923) , 119px 51px 0 -104px rgba(255,255,255, 0.164) , -135px 34px 0 -104px rgba(255,255,255, 0.019) , 22px 38px 0 -104px rgba(255,255,255, 0.81) , 47px -58px 0 -104px rgba(255,255,255, 0.151) , -48px -83px 0 -104px rgba(255,255,255, 0.469) , -3px 119px 0 -104px rgba(255,255,255, 0.119) , 69px 104px 0 -104px rgba(255,255,255, 0.779) , 9px 29px 0 -104px rgba(255,255,255, 0.344) , -122px 143px 0 -104px rgba(255,255,255, 0.7) , -77px 83px 0 -104px rgba(255,255,255, 0.608) , 141px 2px 0 -104px rgba(255,255,255, 0.804) , 122px -52px 0 -104px rgba(255,255,255, 0.314) , -14px -134px 0 -104px rgba(255,255,255, 0.165) , 16px -65px 0 -104px rgba(255,255,255, 0.926) , 144px -40px 0 -104px rgba(255,255,255, 0.697) , 88px -21px 0 -104px rgba(255,255,255, 0.595) , -47px -1px 0 -104px rgba(255,255,255, 0.874) , -81px 101px 0 -104px rgba(255,255,255, 0.712) , -135px 42px 0 -104px rgba(255,255,255, 0.81) , 41px -28px 0 -104px rgba(255,255,255, 0.121) , 12px 72px 0 -104px rgba(255,255,255, 0.75) , 51px -102px 0 -104px rgba(255,255,255, 0.687) , -31px -126px 0 -104px rgba(255,255,255, 0.887) , -113px 39px 0 -104px rgba(255,255,255, 0.73) , 111px -77px 0 -104px rgba(255,255,255, 0.525) , -141px -33px 0 -104px rgba(255,255,255, 0.527) , 21px 12px 0 -104px rgba(255,255,255, 0.576) , 85px -69px 0 -104px rgba(255,255,255, 0.578) , -101px 124px 0 -104px rgba(255,255,255, 0.26) , 5px -60px 0 -104px rgba(255,255,255, 0.937) , -115px 92px 0 -104px rgba(255,255,255, 0.135) , -86px -81px 0 -104px rgba(255,255,255, 0.103) , -137px -15px 0 -104px rgba(255,255,255, 0.915) , -56px -135px 0 -104px rgba(255,255,255, 0.83) , 71px 8px 0 -104px rgba(255,255,255, 0.828) , 71px 17px 0 -104px rgba(255,255,255, 0.764) , -89px 57px 0 -104px rgba(255,255,255, 0.258) , -81px -91px 0 -104px rgba(255,255,255, 0.314) , 60px 143px 0 -104px rgba(255,255,255, 0.386) , -117px 30px 0 -104px rgba(255,255,255, 0.926) , -62px 136px 0 -104px rgba(255,255,255, 0.675) , -37px -45px 0 -104px rgba(255,255,255, 0.485) , 98px -100px 0 -104px rgba(255,255,255, 0.634) , 67px -6px 0 -104px rgba(255,255,255, 0.318) , 119px -29px 0 -104px rgba(255,255,255, 0.155) , -25px -76px 0 -104px rgba(255,255,255, 0.093) , -70px -107px 0 -104px rgba(255,255,255, 0.682) , -58px -121px 0 -104px rgba(255,255,255, 0.293) , 141px -101px 0 -104px rgba(255,255,255, 0.243) , 107px 97px 0 -104px rgba(255,255,255, 0.513) , 3px -78px 0 -104px rgba(255,255,255, 0.968) , -68px 52px 0 -104px rgba(255,255,255, 0.357) , 54px -32px 0 -104px rgba(255,255,255, 0.44) , -112px -95px 0 -104px rgba(255,255,255, 0.465) , -122px -2px 0 -104px rgba(255,255,255, 0.676) , -1px 77px 0 -104px rgba(255,255,255, 0.76) , 135px 70px 0 -104px rgba(255,255,255, 0.466) , -51px -124px 0 -104px rgba(255,255,255, 0.63) , 9px 13px 0 -104px rgba(255,255,255, 0.311) , 34px 9px 0 -104px rgba(255,255,255, 0.851) , -130px -70px 0 -104px rgba(255,255,255, 0.142) , -57px 28px 0 -104px rgba(255,255,255, 0.637) , -144px 39px 0 -104px rgba(255,255,255, 0.915) , 61px -117px 0 -104px rgba(255,255,255, 0.387) , 40px -10px 0 -104px rgba(255,255,255, 0.941) , -19px 24px 0 -104px rgba(255,255,255, 0.947) , 1px 58px 0 -104px rgba(255,255,255, 0.275) , -12px 45px 0 -104px rgba(255,255,255, 0.73) , -77px -88px 0 -104px rgba(255,255,255, 0.939) , -41px 142px 0 -104px rgba(255,255,255, 0.999) , 34px 135px 0 -104px rgba(255,255,255, 0.213) , -42px -106px 0 -104px rgba(255,255,255, 0.985) , -65px -5px 0 -104px rgba(255,255,255, 0.15) , 100px 107px 0 -104px rgba(255,255,255, 0.858) , 43px 60px 0 -104px rgba(255,255,255, 0.749) , -40px 85px 0 -104px rgba(255,255,255, 0.964) , -136px -132px 0 -104px rgba(255,255,255, 0.86) , -98px -34px 0 -104px rgba(255,255,255, 0.791) , 62px 136px 0 -104px rgba(255,255,255, 0.113) , 80px 72px 0 -104px rgba(255,255,255, 0.085) , 5px -71px 0 -104px rgba(255,255,255, 0.661) , 138px 17px 0 -104px rgba(255,255,255, 0.216) , -125px 86px 0 -104px rgba(255,255,255, 0.859) , -61px -138px 0 -104px rgba(255,255,255, 0.6) , -115px -38px 0 -104px rgba(255,255,255, 0.77) , -111px -62px 0 -104px rgba(255,255,255, 0.103) , 80px -25px 0 -104px rgba(255,255,255, 0.762) , 89px 65px 0 -104px rgba(255,255,255, 0.024) , -59px -132px 0 -104px rgba(255,255,255, 0.499) , -51px -37px 0 -104px rgba(255,255,255, 0.199) , 66px 25px 0 -104px rgba(255,255,255, 0.78) , 97px -49px 0 -104px rgba(255,255,255, 0.757) , -48px 14px 0 -104px rgba(255,255,255, 0.446) , 36px -57px 0 -104px rgba(255,255,255, 0.278) , -114px 13px 0 -104px rgba(255,255,255, 0.348) , 66px 7px 0 -104px rgba(255,255,255, 0.558) , -21px 50px 0 -104px rgba(255,255,255, 0.189) , -37px -70px 0 -104px rgba(255,255,255, 0.21) , -77px 46px 0 -104px rgba(255,255,255, 0.158) , 31px -15px 0 -104px rgba(255,255,255, 0.007) , 20px -124px 0 -104px rgba(255,255,255, 0.528) , 11px 35px 0 -104px rgba(255,255,255, 0.523) , -28px -86px 0 -104px rgba(255,255,255, 0.193) , -117px 19px 0 -104px rgba(255,255,255, 0.161) , 78px 120px 0 -104px rgba(255,255,255, 0.403) , -47px 24px 0 -104px rgba(255,255,255, 0.647) , -123px -97px 0 -104px rgba(255,255,255, 0.776) , -33px -98px 0 -104px rgba(255,255,255, 0.596) , -95px 31px 0 -104px rgba(255,255,255, 0.355) , 7px 58px 0 -104px rgba(255,255,255, 0.595) , 143px -46px 0 -104px rgba(255,255,255, 0.353) , -17px -135px 0 -104px rgba(255,255,255, 0.482) , -128px 19px 0 -104px rgba(255,255,255, 0.076) , -3px 124px 0 -104px rgba(255,255,255, 0.134) , -71px -64px 0 -104px rgba(255,255,255, 0.577) , -20px 132px 0 -104px rgba(255,255,255, 0.299) , -86px 74px 0 -104px rgba(255,255,255, 0.464) , 116px 10px 0 -104px rgba(255,255,255, 0.833) , -54px -77px 0 -104px rgba(255,255,255, 0.572) , 72px -107px 0 -104px rgba(255,255,255, 0.952) , 91px 5px 0 -104px rgba(255,255,255, 0.318) , -93px -133px 0 -104px rgba(255,255,255, 0.082) , 89px 119px 0 -104px rgba(255,255,255, 0.675) , -134px 57px 0 -104px rgba(255,255,255, 0.253) , -49px -14px 0 -104px rgba(255,255,255, 0.398) , -62px -80px 0 -104px rgba(255,255,255, 0.919) , -2px 110px 0 -104px rgba(255,255,255, 0.623) , 65px 102px 0 -104px rgba(255,255,255, 0.763) , -56px 110px 0 -104px rgba(255,255,255, 0.947) , 99px 142px 0 -104px rgba(255,255,255, 0.988) , 78px -105px 0 -104px rgba(255,255,255, 0.087) , -47px 109px 0 -104px rgba(255,255,255, 0.629) , 37px -122px 0 -104px rgba(255,255,255, 0.21) , 104px -33px 0 -104px rgba(255,255,255, 0.109) , -43px -19px 0 -104px rgba(255,255,255, 0.419) , -60px -60px 0 -104px rgba(255,255,255, 0.776) , 17px 56px 0 -104px rgba(255,255,255, 0.196) , 77px 63px 0 -104px rgba(255,255,255, 0.991) , -134px 65px 0 -104px rgba(255,255,255, 0.038) , 69px 59px 0 -104px rgba(255,255,255, 0.352) , 30px 133px 0 -104px rgba(255,255,255, 0.996) , 52px -122px 0 -104px rgba(255,255,255, 0.026) , -33px -27px 0 -104px rgba(255,255,255, 0.672) , 58px -84px 0 -104px rgba(255,255,255, 0.134) , 115px 89px 0 -104px rgba(255,255,255, 0.808) , 53px -101px 0 -104px rgba(255,255,255, 0.955) , -36px 72px 0 -104px rgba(255,255,255, 0.424) , -39px 108px 0 -104px rgba(255,255,255, 0.611) , 32px 101px 0 -104px rgba(255,255,255, 0.978) , -12px -128px 0 -104px rgba(255,255,255, 0.767) , -132px 50px 0 -104px rgba(255,255,255, 0.016) , -46px 63px 0 -104px rgba(255,255,255, 0.686) , -98px -29px 0 -104px rgba(255,255,255, 0.843) , 139px 70px 0 -104px rgba(255,255,255, 0.739) , 71px -8px 0 -104px rgba(255,255,255, 0.888) , 65px 122px 0 -104px rgba(255,255,255, 0.663) , 109px -130px 0 -104px rgba(255,255,255, 0.029) , -16px -15px 0 -104px rgba(255,255,255, 0.025) , 61px -133px 0 -104px rgba(255,255,255, 0.933) , 124px -88px 0 -104px rgba(255,255,255, 0.913) , 27px -69px 0 -104px rgba(255,255,255, 0.724) , 138px -51px 0 -104px rgba(255,255,255, 0.135) , -114px 5px 0 -104px rgba(255,255,255, 0.207) , 106px 121px 0 -104px rgba(255,255,255, 0.346) , -133px -141px 0 -104px rgba(255,255,255, 0.396) , -112px 91px 0 -104px rgba(255,255,255, 0.145) , -91px 120px 0 -104px rgba(255,255,255, 0.213) , 131px 107px 0 -104px rgba(255,255,255, 0.69) , 17px -102px 0 -104px rgba(255,255,255, 0.846) , -8px -84px 0 -104px rgba(255,255,255, 0.74) , -91px -102px 0 -104px rgba(255,255,255, 0.49) , 110px 40px 0 -104px rgba(255,255,255, 0.582) , 75px -10px 0 -104px rgba(255,255,255, 0.595) , 47px -45px 0 -104px rgba(255,255,255, 0.883) , -139px 51px 0 -104px rgba(255,255,255, 0.066) , -50px 36px 0 -104px rgba(255,255,255, 0.591) , -123px 22px 0 -104px rgba(255,255,255, 0.212) , -113px -57px 0 -104px rgba(255,255,255, 0.111) , 76px 104px 0 -104px rgba(255,255,255, 0.198) , 33px -31px 0 -104px rgba(255,255,255, 0.751) , -50px 65px 0 -104px rgba(255,255,255, 0.621) , 76px 16px 0 -104px rgba(255,255,255, 0.589) , 131px 1px 0 -104px rgba(255,255,255, 0.68) , -62px -25px 0 -104px rgba(255,255,255, 0.781) , -25px 87px 0 -104px rgba(255,255,255, 0.913) , -42px 65px 0 -104px rgba(255,255,255, 0.91) , 8px -90px 0 -104px rgba(255,255,255, 0.153) , -48px 18px 0 -104px rgba(255,255,255, 0.581) , 117px 107px 0 -104px rgba(255,255,255, 0.401) , 9px -93px 0 -104px rgba(255,255,255, 0.089) , 5px -138px 0 -104px rgba(255,255,255, 0.349) , 25px -28px 0 -104px rgba(255,255,255, 0.491) , 95px 65px 0 -104px rgba(255,255,255, 0.137) , -85px 40px 0 -104px rgba(255,255,255, 0.883) , 43px -143px 0 -104px rgba(255,255,255, 0.583) , -55px -130px 0 -104px rgba(255,255,255, 0.686) , -112px -10px 0 -104px rgba(255,255,255, 0.999) , -57px -129px 0 -104px rgba(255,255,255, 0.703) , -32px 133px 0 -104px rgba(255,255,255, 0.984) , 39px 0px 0 -104px rgba(255,255,255, 0.534) , -96px 144px 0 -104px rgba(255,255,255, 0.711) , -25px 4px 0 -104px rgba(255,255,255, 0.288) , 29px -43px 0 -104px rgba(255,255,255, 0.078) , -30px 137px 0 -104px rgba(255,255,255, 0.1) , 130px 52px 0 -104px rgba(255,255,255, 0.303) , 83px -140px 0 -104px rgba(255,255,255, 0.995) , 90px -96px 0 -104px rgba(255,255,255, 0.331);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=home_page_en.css.map */